name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:



jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run tests
        run: npm test
      
      - name: Build artifact (tarball)
        run: |
          mkdir -p dist
          cp -r src package.json package-lock.json dist/
          tar -czf ci-demo-${{ github.run_number }}.tgz dist

      - name: Upload artifact to GitHub Actions
        uses: actions/upload-artifact@v4
        with:
          name: ci-demo-build
          path: ci-demo-${{ github.run_number }}.tgz

      - name: Compute artifact digest
        id: digest
        run: |
          echo "sha=$(shasum -a 256 ci-demo-${{ github.run_number }}.tgz | awk '{print $1}')" >> $GITHUB_OUTPUT

  
      - name: Register build artifact in CloudBees Unify
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: cloudbees-io-gha/register-build-artifact@v3
        with:
          cloudbees-url: https://api.cloudbees.io
          name: ci-demo
          version: ${{ github.run_number }}
          url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          digest: sha256:${{ steps.digest.outputs.sha }}
          type: generic
          label: github-actions,ci-demo
          commit: ${{ github.sha }}
          repository-url: ${{ github.server_url }}/${{ github.repository }}
          ref: ${{ github.ref }}


        

